html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Open Sans', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0170ad !important;
}

.login-box {
    width: 100%;
    height: auto;
    padding: 5px;
}

h3,
label {
    color: #fff !important;
}

.error {
    color: yellow;
    font-size: 14px;
    font-weight: 600;
}